body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
}

main {
    padding: 20px;
}

.blog-post {
    background-color: #f4f4f4;
    margin-bottom: 20px;
    padding: 20px;
}

.blog-post h2 {
    margin-bottom: 10px;
}

.blog-post p {
    margin-bottom: 10px;
}

.blog-post a {
    text-decoration: none;
    color: #333;
}

footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}
.divblog{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
    background-color: rgb(225, 200, 166);
    width: 100%;
    border: #333 solid;
}

.img{
    width: 50%;
    height: auto;
}